body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display:flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    flex-wrap: nowrap;
    list-style-type: none;
    
}

header{
    background-color: #7d0093;
}

nav > ul > li {
    width: 100%;
    text-align: center;
    text-decoration-color: #ffc600;
    text-decoration: none;
    list-style-type: none;

}

.foto{
    height: 166px;
    width: 303px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;

}

    footer {
        background-color: #7d0093;
        text-decoration-color: #ffc600;
        
    }

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.eventos {
    display: flex;
    align-items: center;
    flex-direction: column;
}
thead {
    background-color: #7d0093;
}

tfoot {
    background-color: #7d0093;
}

.tabela-admin {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media {
    .tabela-admin {
        text-size-adjust: 200%
    }

    .eventos{
        text-size-adjust: 200%
    }

    label {
        width: 200%
    }

    select {
        block-size: 200%
    }
  .email-box {
      text-size-adjust: 200%
  }

  .senha-box  {
    text-size-adjust: 200%
  }

  .nome-box {
    text-size-adjust: 200%
  }

  .cpf-box {
    text-size-adjust: 200%
  }

  .tel-box {
    text-size-adjust: 200%
  }
}



    